@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  width: 100%;
}

@theme {
  --color-primary: #003366;
  /* Navy Blue */
  --color-secondary: #008080;
  /* Teal */
  --color-success: #10B981;
  --color-error: #EF4444;
}