@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  width: 100%;
}

@theme {
  --color-primary: #3B82F6;
  --color-success: #10B981;
  --color-error: #EF4444;
}